.wrapperBar {
  margin: 0 auto;
  display: block;
  width: 890px;
}

.wrapperBg {
  display: block;
  position: relative;
  justify-content: space-around;
  height: 223px;
  background-size: cover;
  border-radius: 40px;
  &_snow {
    background-image: url("../../../public/image/background/resultSnow.png");
  }
  &_gold {
    background-image: url("../../../public/image/background/resultBrown.png");
  }
  &_sweet {
    background-image: url("../../../public//image/background/resultSweet.jpg");
  }
}

.wrapperScore {
  display: flex;
  justify-content: space-around;
  width: 890px;
  position: absolute;
  z-index: 1;
  top: 40px;
}

.wrapperResult {
  display: flex;
  justify-content: space-around;
  width: 890px;
  position: absolute;
  z-index: 1;
  top: 45px;
}

.scorePlace {
  border-radius: 100%;
  width: 131px;
  height: 131px;
  background-color: rgba(0, 0, 0, 0.06);
  box-shadow: inset 0px 0px 25px 0px rgba(0, 0, 0, 0.25);
}

.scorePlace__result {
  width: 131px;
  height: 131px;
  position: relative;
}

.scorePlace__result_empty {
  width: 131px;
  height: 131px;
  opacity: 0;
}

.arrowWrapper {
  display: flex;
  margin-bottom: 10px;
  margin-left: 9px;
  width: 358px;
  overflow: hidden;
  align-items: center;
  position: relative;

  &__text {
    display: block;
    position: absolute;
    font-weight: 600;
    font-size: 36px;
    color: #fff;
    -webkit-text-stroke: 2px #242546;
    letter-spacing: -4px;
    top: 50%;
    transform: translate(0%, -55%);
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.topBar {
  &__des {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  &__asc {
    width: 100%;
    display: flex;
    justify-content: start;
  }
}

.arrowWrapper {
  display: flex;
  margin-bottom: 10px;
  margin-left: 9px;
  margin-right: 9px;
  width: 358px;
  overflow: hidden;
  align-items: center;
  position: relative;
  font-weight: 600;
  font-size: 36px;
  color: #fff;
  -webkit-text-stroke: 2px #242546;
  letter-spacing: -4px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  &__textAsc {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0%, -55%);
  }

  &__textDes {
    display: block;
    position: absolute;
    top: 50%;
    transform: translate(0%, -55%);
    right: 1%;
  }
}

.resultNumbers {
  display: block;
  position: absolute;
  font-weight: 600;
  font-size: 56px;
  color: #fff;
  -webkit-text-stroke: 2px #242546;
  letter-spacing: -4px;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@media (max-width: 912px) {
  .wrapperBar {
    width: 90%;
  }

  .wrapperResult {
    width: 100%;
    top: 20%;
  }

  .wrapperScore {
    width: 100%;
    top: 20%;
  }

  .scorePlace {
    width: 70px;
    height: 70px;
  }
  .scorePlace__result {
    width: 85px;
    height: 85px;
  }

  .scorePlace__result_empty {
    width: 85px;
    height: 85px;
  }

  .wrapperBg {
    height: 120px;
  }

  .resultNumbers {
    font-size: 38px;
  }

  .arrowWrapper {
    width: 70%;
    font-size: 32px;
  }
}
